<div class="py-4" >
    <div class="container">
        <div class="header">
            <img src="../../../../assets/LOGo.png" />
            <div class="header-sub" >
               <div>
                    <p>17115 Red Oak DR, Ste 123,</p>
                    <p>Houston TX 77090</p>
               </div>
               <div>
                    <p> P: 561.635.0392 | F: 832.4130059</p>
               </div>
               <div>
                    <p>CLIA: 45D2257672</p>
                    <p>Lab Director: Dr. Kerollos Shaker</p>
               </div>
            </div>
        </div>
  
        <div class="gradient-background" >

        </div>

        <div class="panel-header">
          <h4>Clinically Relevant Interpretations</h4>
      </div>

      <table class="table table-striped table-custom-transparent mt-4 mb-0"  style="border: 1px solid black; border-collapse: collapse;">
        <thead>
          <tr>
            <th style="border: 1px solid black; font-weight:500;"  >
                <span>Patient Name : </span>
                <span>Umair</span>
            </th>
            <th style="border: 1px solid black; font-weight:500;" >
                <span>Date of Birth : </span>
                <span>2199/11/2</span>
            </th>
            <th style="border: 1px solid black; font-weight:500;" >
                <span>Accession ID : </span>
                <span>7892810921</span>
            </th>
          </tr>
        </thead>
      </table>
  
      <table class="table table-striped table-custom mb-0" style="border: 1px solid black; border-collapse: collapse; border-top: none;">
        <thead>
          <tr>
            <th style="border: 1px solid black; padding: 13px 20px; border-top: none; font-weight: 400; font-size: 15px;">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="border: 1px solid black; padding: 13px 20px; background: transparent; color: rgb(255, 107, 107);">Gene Info</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-striped table-custom mb-0" style="border: 1px solid black; border-collapse: collapse; border-top: none;">
        <thead>
          <tr>
            <th style="border: 1px solid black; padding: 13px 20px; border-top: none; font-weight: 400; font-size: 15px;">Gene Info</th>
          </tr>
        </thead>
        <tbody>
          <tr style="background: #fff;" >
            <td style="border: 1px solid black; padding: 13px 20px;">The Variant is found at Chr22:NC_000022.10:g.29095917C>G location with a missense variant c.917G>C p.Gly306Ala
                change on the patient's CHEK2.</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-striped table-custom mb-0" style="border: 1px solid black; border-collapse: collapse; border-top: none;">
        <thead>
          <tr>
            <th style="border: 1px solid black; padding: 13px 20px; border-top: none; font-weight: 400; font-size: 15px;">Variant Interpretation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="border: 1px solid black; padding: 13px 20px; background: transparent;">
                <p>The missense variant NM_007194.4(CHEK2):c.917G>C (p.Gly306Ala) causes the same amino acid change as a
                    which is not likely to impact secondary protein structure as these residues share similar properties. 2 variants within 6
                    amino acid positions of the variant p.Gly306Ala have been shown to be pathogenic, while none have been shown to
                    be benign. For these reasons, this variant has been classified as Likely Pathogenic. </p>
                <p class="mt-4" >Overview: OBSOLETE. Any Li-Fraumeni syndrome in which the cause of the disease is a mutation in the CHEK2 gene.</p>    
            </td>
          </tr>
        </tbody>
      </table>
  
      <table class="table table-striped table-custom mb-0" style="border: 1px solid black; border-collapse: collapse; border-top: none;">
        <thead>
          <tr>
            <th style="border: 1px solid black; padding: 13px 20px; border-top: none; font-weight: 400; font-size: 15px;">Inheritance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="border: 1px solid black; padding: 13px 20px; background: transparent;">
                Autosomal Dominant / Heterozygous
            </td>
          </tr>
        </tbody>
      </table>
  
      <table class="table table-striped table-custom mb-0" style="border: 1px solid black; border-collapse: collapse; border-top: none;">
        <thead>
          <tr>
            <th style="border: 1px solid black; padding: 13px 20px; border-top: none; font-weight: 400; font-size: 15px;">ACMG-Classification</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="border: 1px solid black; padding: 13px 20px; background: transparent; color: rgb(255, 107, 107);">
                Likely Pathogenic (PM1, PS1)
            </td>
          </tr>
        </tbody>
      </table>
  
      <table class="table table-striped table-custom mb-0" style="border: 1px solid black; border-collapse: collapse; border-top: none;">
        <thead>
          <tr>
            <th style="border: 1px solid black; padding: 13px 20px; border-top: none; font-weight: 400; font-size: 15px;">Gene & Disorder or Phenotype</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="border: 1px solid black; padding: 13px 20px; background: transparent;">Li-Fraumeni syndrome 2</td>
          </tr>
        </tbody>
      </table>
      
      <table class="table table-striped table-custom mb-0" style="border: 1px solid black; border-collapse: collapse; border-top: none;">
        <thead>
          <tr>
            <th style="border: 1px solid black; padding: 13px 20px; border-top: none; font-weight: 400; font-size: 15px;">What’s next</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="border: 1px solid black; padding: 13px 20px; background: transparent;">Correlate the findings with clinical symptoms, biochemical profile and family history whilst closely monitoring the
                subject with periodical visits.</td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
  