<div class="py-4" >
    <div class="container">
        <div class="header">
            <img src="../../../../assets/LOGo.png" />
            <div class="header-sub" >
               <div>
                    <p>17115 Red Oak DR, Ste 123,</p>
                    <p>Houston TX 77090</p>
               </div>
               <div>
                    <p> P: 561.635.0392 | F: 832.4130059</p>
               </div>
               <div>
                    <p>CLIA: 45D2257672</p>
                    <p>Lab Director: Dr. Kerollos Shaker</p>
               </div>
            </div>
        </div>

        <div class="gradient-background" >

        </div>

        <div class="panel-header">
            <h4>Cancer Risk Panel</h4>
        </div>
  
      <div class="row box-conatiner">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">Patient</div>
            <div class="card-body">
              <p><strong>First Name:</strong> John</p>
              <p><strong>Last Name:</strong> Doe</p>
              <p><strong>Date of Birth:</strong> 01/01/1965</p>
              <p><strong>Gender:</strong> Male</p>
              <p><strong>Accession ID:</strong> 0123456789</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">Specimen</div>
            <div class="card-body">
              <p><strong>Specimen Type:</strong> Buccal Swab</p>
              <p><strong>Collection Date:</strong> </p>
              <p><strong>Received Date:</strong> </p>
              <p><strong>Panel Coverage:</strong> 94.04%</p>
              <p><strong>Average Read Depth:</strong> 138x</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">Ordering Physician</div>
            <div class="card-body">
              <p><strong>Physician:</strong> </p>
              <p><strong>Institution:</strong> Elixir DX</p>
              <p><strong>Reported Date:</strong> </p>
              <p><strong>Ref Accession:</strong> N/A</p>
              <p><strong>Ref Accession:</strong> N/A</p>
            </div>
          </div>
        </div>
      </div>
  
      <div class="alert-positive mt-4">
        Test Result: Pathogenic / Likely Pathogenic variant detected on CHEK2 gene.
      </div>
  
      <div class="result-key">
        <div class="result-key-box-cont" >
            <div class="result-key-box pathogenic"></div>
            <div>
                <p>POSITIVE: Pathogenic / </p>
                <p>Likely Pathogenic</p>
            </div>
        </div>
        <div class="result-key-box-cont" >
            <div class="result-key-box vus"></div>
            <div>
                <p>VUS: Variant of Unknown Significance</p>
                <p>Unknown Significance</p>
            </div>
        </div>
        <div class="result-key-box-cont"  >
            <div class="result-key-box negative" ></div>
            <div>
                <p>NEGATIVE: No clinically significant</p>
                <p>variants were detected</p>
            </div>
        </div>
      </div>
  
      <table class="table table-striped table-custom mt-4"  style="border: 1px solid black; border-collapse: collapse;">
        <thead>
          <tr>
            <th style="border: 1px solid black;" >Gene & Transcript</th>
            <th>Variant</th>
            <th style="border: 1px solid black;" >Inheritance</th>
            <th style="border: 1px solid black;" >Disorder or Phenotype</th>
            <th style="border: 1px solid black;" >Criteria</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="border: 1px solid black;" >CHEK2 NM_007194.4</td>
            <td style="border: 1px solid black;" >c.917G>C p.Gly306Ala</td>
            <td style="border: 1px solid black;" >Autosomal Dominant / Heterozygous</td>
            <td style="border: 1px solid black;" >Li-Fraumeni syndrome 2</td>
            <td style="border: 1px solid black;" >PM1, PS1</td>
          </tr>
        </tbody>
      </table>
  
      <table class="table table-striped table-custom mt-4" style="border: 1px solid black; border-collapse: collapse;">
        <thead>
          <tr>
            <th style="border: 1px solid black;">Location</th>
            <th style="border: 1px solid black;">Allele State</th>
            <th style="border: 1px solid black;">Allelic Read Depths</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="border: 1px solid black;">Exon 9</td>
            <td style="border: 1px solid black;">Heterozygous</td>
            <td style="border: 1px solid black;">Ref(C): 93, Alt(G): 65, VAF: 41.14%</td>
          </tr>
        </tbody>
      </table>
  
      <table class="table table-striped table-custom mt-4">
        <thead>
          <tr>
            <th style="border: 1px solid black;">Genomic Position</th>
            <th style="border: 1px solid black;">Variant Frequency</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="border: 1px solid black;">Chr22:NC_000022.10:g.29095917C>G</td>
            <td style="border: 1px solid black;">0.011% max frequency observed in Annotated gnomAD East Asian</td>
          </tr>
        </tbody>
      </table>
  
      <div class="footer">
        <p>CLIA: 45D2257672 &nbsp; | &nbsp; Lab Director: Dr. Kerollos Shaker</p>
      </div>
    </div>
  </div>
  