<div class="py-4" >
    <div class="container">
        <div class="header">
            <img src="../../../../assets/LOGo.png" />
            <div class="header-sub" >
               <div>
                    <p>17115 Red Oak DR, Ste 123,</p>
                    <p>Houston TX 77090</p>
               </div>
               <div>
                    <p> P: 561.635.0392 | F: 832.4130059</p>
               </div>
               <div>
                    <p>CLIA: 45D2257672</p>
                    <p>Lab Director: Dr. Kerollos Shaker</p>
               </div>
            </div>
        </div>
  
        <div class="gradient-background" >

        </div>

      <table class="table table-striped table-custom-transparent mt-4 mb-0"  style="border: 1px solid black; border-collapse: collapse;">
        <thead>
          <tr>
            <th style="border: 1px solid black; font-weight:500;"  >
                <span>Patient Name : </span>
                <span>Umair</span>
            </th>
            <th style="border: 1px solid black; font-weight:500;" >
                <span>Date of Birth : </span>
                <span>2199/11/2</span>
            </th>
            <th style="border: 1px solid black; font-weight:500;" >
                <span>Accession ID : </span>
                <span>7892810921</span>
            </th>
          </tr>
        </thead>
      </table>
  
      <table class="table table-striped table-custom mb-0" style="border: 1px solid black; border-collapse: collapse; border-top: none;">
        <thead>
          <tr>
            <th style="border: 1px solid black; padding: 13px 20px; border-top: none; font-weight: 400; font-size: 15px;">Regulatory Disclosures</th>
          </tr>
        </thead>
        <tbody>
          <tr style="background: #fff;" >
            <td style="border: 1px solid black; padding: 13px 20px;">
                Genetic-based hereditary Cancer Risk Factor screening is intended as a tool to guide physicians in the management
                of their patients and should NOT be treated as a diagnostic tool NGS-based hereditary Cancer screening is
                considered a high-complexity laboratory[1]developed test (LDT) by CMS under the Clinical Laboratory Improvement
                Amendment (CLIA) and is not FDAcleared.The test and performance metrics were validated in house by Elixir
                Diagnostics technical personnel (or designated scientific advisors) and approved by their Laboratory Director The
                results are intended for use only by the ordering physician and/or designated healthcare provider. The ordering
                provider is responsible for 1) ascertaining the medical necessity of the ordered test, 2) resulting diagnoses, 3)
                management of the disease and/or decisions based on the data provided. Results rely on collection personnel
                following specified collection and shipment protocols.
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table table-striped table-custom mb-0" style="border: 1px solid black; border-collapse: collapse; border-top: none;">
        <thead>
          <tr>
            <th style="border: 1px solid black; padding: 13px 20px; border-top: none; font-weight: 400; font-size: 15px;">References</th>
          </tr>
        </thead>
        <tbody>
          <tr style="background: #fff;" >
            <td style="border: 1px solid black; padding: 13px 20px;">
                Richards, Sue, et al. "Standards and guidelines for the interpretation of sequence variants: a joint consensus
                    recommendation of the American College of Medical Genetics and Genomics and the Association for Molecular
                    Pathology." Genetics in medicine 17.5 (2015): 405.Exome Aggregation Consortium et al. "Analysis of Protein-Coding
                    Genetic Variation in 60,706 Humans."Nature 536.7616 (2016): 285–291. PMC. Web. 13 May 2018. The 1000 Genomes
                    Project Consortium. "A Global Reference for Human Genetic Variation." Nature 526.7571 (2015): 68–74. PMC. Web. 13
                    May 2018.
            </td>
          </tr>
        </tbody>
      </table>

      <p class="footer-para" >Test was performed by Elixir Diagnostics ,17115 Red Oak Dr,Ste 123 ,Houston TX 77090 USA ,CLIA #45D2257672
        Laboratory Director: Dr. Kerollos Shaker,M.D.</p>
     
      
    </div>
  </div>
  